<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Content API /token Example</title>
	</head>
	<body>
		<p><a href="/">Start Over</a></p>
		<h3>Successfully retrieved access token!</h3>
		<pre>access_token : <%= access_token %> </pre>
		<pre>token_type : <%= token_type %> </pre>
		<pre>expires_in : <%= expires_in %> </pre>
		<pre>token_expiry : <%= token_expiry %> </pre>
		<pre>timestamp : <%= timestamp %> </pre>

		<p>
			<a href="/query-collection-myhuman?access_token=<%= access_token %>">Query Content API /myhuman endpoint with Access Token</a>
		</p> 
		<p>
			<a href="/query-collection-mycollections?access_token=<%= access_token %>">Query Content API /mycollections endpoint with Access Token</a>
		</p>

	</body>
</html>